body {
    
}

#description {
    background-color: lightblue;
    width: 500px;
    margin-top: -30px;
    margin-left: 5px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
#landmarkimage {
    border: 5px solid lightblue;
    border-radius: 10px;
    margin-bottom: 30px;
}